.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .card {
    width: 80%;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
    margin-bottom: 5px;
  }


    
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  
  .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .button p {
    font-size: 14px;
  }
  
  .button button {
    background-color: blue;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .skills-container {
    display: flex;
    gap: 10px;
  }
  
  .skills-container p {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  