.searchbar {
    width: 100%;
    display: flex;
    color: aliceblue;
    margin-top: 50px;
    gap: 10px;
    justify-content: center;
  }
  
  .searchbar-1,
  .searchbar-2,
  .searchbar-3,
  .searchbar-4 {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .search-button {
    width: 250px;
    background-color: blue;
    font-size: 16px;
    border-radius: 5px;
    color: aliceblue;
  }
  
  @media (max-width: 768px) {
    .searchbar {
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
    }
  
    .searchbar-1,
    .searchbar-2,
    .searchbar-3,
    .searchbar-4 {
      width: calc(50% - 10px); 
      margin-bottom: 10px;
    }
  
    .search-button {
      width: calc(100% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .searchbar-1,
    .searchbar-2,
    .searchbar-3,
    .searchbar-4 {
      width: 80%;
      margin-bottom: 10px;
    }
  
    .search-button {
      width: 80%;
    }
  }
  